<template>
 <div class="row">
        <div class="col-md-12">
            <div class="modal fade" data-backdrop="static" id="customerDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Customer Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="saveCustomer">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Code</label>
                            <input type="text" class="form-control" v-model="customer.code" name="code" placeholder="customer code" readonly>
                            <small class="form-text text-muted">Enter your customer code</small>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" v-model="customer.name" name="customer" placeholder="customer name">
                            <small class="form-text text-muted">Enter your customer name</small>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Phone</label>
                            <input type="text" class="form-control" v-model="customer.phone"  placeholder="customer phone">
                            <small class="form-text text-muted">Enter your customer phone</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" v-model="customer.email"  placeholder="customer email">
                            <small class="form-text text-muted">Enter your customer email</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Previos Due</label>
                            <input type="text" class="form-control" v-model="customer.previous_due"  placeholder="customer prev due">
                            <small class="form-text text-muted">Enter your customer prev due</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Address</label>
                            <textarea class="form-control" v-model="customer.address" placeholder="Enter customer address"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @click="closeDialog">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                formValidation: true,
                customer: {
                    id: 0,
                    name: '',
                    code: '',
                    phone: '',
                    email: '',
                    previous_due: 0,
                    address: ''
                }
            }
        },

        created(){
            this.getCustomerCode();
        },

        methods: {
            open() {
                $("#customerDialog").modal('show');
            },

            closeDialog() {
                $("#customerDialog").modal('hide');
                this.resetFrom();
            },
            
            saveCustomer() {
                let url ="/add_customer";
                if(this.customer.id != 0){
                    url ="/update_customer";
                }

                if(this.customer.name == ""){
                    alert("Please enter customer name");
                    this.formValidation = false;
                }

                if(this.formValidation){
                    axios.post(url, this.customer).then(res => {
                        let r = res.data;
                        alert(r.message);
                        this.resetFrom();
                        this.$emit('close');
                    }).catch(error => alert(error));
                }                
            },

            getCustomerCode() {
                axios.get("/get_customer_code").then(res => {
                    this.customer.code = res.data.code;
                });
            },

             resetFrom(){
                Object.keys(this.customer).forEach(key => {
                    if(typeof this.customer[key] == 'number'){
                        this.customer[key] = 0;
                    }else{
                        this.customer[key] = '';
                    }
                    
                });
                this.getCustomerCode();
            },
        }
    }
</script>
