<template>
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="saveProduct">
                <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Product Code</label>
                            <input type="text" class="form-control" v-model="product.code" name="code" placeholder="Product code" readonly>
                            <small class="form-text text-muted">Enter your product name</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Product Name</label>
                            <input type="text" class="form-control" v-model="product.name" name="name" placeholder="Product name">
                            <small class="form-text text-muted">Enter your product name</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Unit</label>
                            <v-select label="name" :options="units" v-model="selectedUnit" placeholder="Select Unit"></v-select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @click="closeModal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';

Vue.component("v-select", vSelect);
    export default {
        data() {
            return {
                showProductModal: false,
                product: {
                    id: 0,
                    code: '',
                    name: '',
                    unit_id: ''
                },
                errors: [],
                success: null,
                units: [],
                selectedUnit: null
            }
        },

        created() {
            this.getUnits();
            this.getProductCode();
        },

        methods: {
            open() {
                $("#productModal").modal('show');
            },

            closeModal() {
                $("#productModal").modal('hide');
                this.resetFrom();
            },

            getProductCode() {
                axios.get("/get_product_code").then(res =>{
                    this.product.code = res.data.code;
                })
            },

            saveProduct(){
                if(this.product.name == ""){
                    alert("Enter product name");
                    return;
                }

                if(this.selectedUnit == null){
                    alert("Select unit");
                    return;
                }
                
                this.product.unit_id = this.selectedUnit == null ? null : this.selectedUnit.id;
                let url = "/add_product";
                if(this.product.id != 0) {
                    url = "/update_product";
                }
                axios.post(url, this.product).then(res => {
                    this.errors = [];
                    this.success = res.data.message;
                    this.$emit('close');
                    this.resetFrom();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = error.response.data.errors;
                    }
                });
            },

            resetFrom(){
                Object.keys(this.product).forEach(key => {
                    this.product[key] = '';
                });
                this.selectedUnit = null;
                this.getProductCode();
            },

            getUnits() {
                axios.get("/get_units").then(res => {
                    this.units = res.data.units;
                })
            }
        }
    }
</script>