<template>
 <div class="row">
        <div class="col-md-12">
            <div class="modal fade" data-backdrop="static" id="supplierDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supplier Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="saveSupplier">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Code</label>
                            <input type="text" class="form-control" v-model="supplier.code" name="code" placeholder="supplier code" readonly>
                            <small class="form-text text-muted">Enter your supplier code</small>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" v-model="supplier.name" name="supplier" placeholder="supplier name">
                            <small class="form-text text-muted">Enter your supplier name</small>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Phone</label>
                            <input type="text" class="form-control" v-model="supplier.phone"  placeholder="supplier phone">
                            <small class="form-text text-muted">Enter your supplier phone</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" v-model="supplier.email"  placeholder="supplier email">
                            <small class="form-text text-muted">Enter your supplier email</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Previos Due</label>
                            <input type="text" class="form-control" v-model="supplier.previous_due"  placeholder="supplier prev due">
                            <small class="form-text text-muted">Enter your supplier prev due</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Address</label>
                            <textarea class="form-control" v-model="supplier.address" placeholder="Enter supplier address"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @click="closeDialog">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import VueNoty from 'vuejs-noty';
import 'vuejs-noty/dist/vuejs-noty.css';
Vue.use(VueNoty);
    export default {
        data() {
            return{
                formValidation: true,
                supplier: {
                    id: 0,
                    name: '',
                    code: '',
                    phone: '',
                    email: '',
                    previous_due: 0,
                    address: ''
                }
            }
        },

        created(){
            this.getSupplierCode();
        },

        methods: {
            open() {
                $("#supplierDialog").modal('show');
            },

            closeDialog() {
                $("#supplierDialog").modal('hide');
                this.resetFrom();
            },
            
            saveSupplier() {
                let url ="/add_supplier";
                if(this.supplier.id != 0){
                    url ="/update_supplier";
                }

                if(this.supplier.name == ""){
                    this.$noty.warning("Please enter supplier name!!")
                    this.formValidation = false;
                }

                if(this.supplier.previous_due < 0){
                    this.$noty.warning("Please enter supplier previous due!!!")
                    this.formValidation = false;
                }

                if(this.formValidation){
                    axios.post(url, this.supplier).then(res => {
                        let r = res.data;
                        this.$noty.success(r.message, {
                            killer: true,
                            timeout: 5000,
                            layout: 'bottomRight'
                        });
                        this.resetFrom();
                        this.$emit('close');
                    }).catch(error => {
                        this.$noty.error(error.message, {
                            killer: true,
                            timeout: 5000,
                            layout: 'bottomRight'
                        });
                    });
                }                
            },

            getSupplierCode() {
                axios.get("/get_supplier_code").then(res => {
                    this.supplier.code = res.data.code;
                });
            },

             resetFrom(){
                Object.keys(this.supplier).forEach(key => {
                    if(typeof this.supplier[key] == 'number'){
                        this.supplier[key] = 0;
                    }else{
                        this.supplier[key] = '';
                    }
                    
                });
                this.getSupplierCode();
            },
        }
    }
</script>
