<template>
 <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="unitDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Unit Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="saveUnit">
                <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" v-model="unit.name" name="unit" placeholder="unit name">
                            <small class="form-text text-muted">Enter your unit name</small>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @click="closeDialog">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                formValidation: true,
                unit: {
                    id: 0,
                    name: ''
                },
                units: null
            }
        },
        methods: {
            open() {
                $("#unitDialog").modal('show');
            },

            closeDialog() {
                $("#unitDialog").modal('hide');
            },
            
            saveUnit() {
                let url ="/add_unit";
                if(this.unit.id != 0){
                    url ="/update_unit";
                }

                if(this.unit.name == ""){
                    alert("Please enter unit name");
                    this.formValidation = false;
                }

                if(this.formValidation){
                    axios.post(url, this.unit).then(res => {
                        let r = res.data;
                        alert(r.message);
                    }).catch(error => alert(error));
                }                
            }
        }
    }
</script>
