/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
body{
    font-family: 'Fira Code', monospace !important;
} */

.mx-datepicker{
    width: 100% !important;
}
.form-control{
    height: 30px !important;
}
.form-group {
    margin-bottom: 4px !important;
}

/* V-Select */
.v-select{
    margin-bottom: 5px;
}
.v-select .dropdown-toggle{
    padding: 0px;
}
.v-select input[type=search], .v-select input[type=search]:focus{
    margin: 0px;
}
.v-select .vs__selected-options{
    overflow: hidden;
    flex-wrap:nowrap;
}
.v-select .selected-tag{
    margin: 2px 0px;
    white-space: nowrap;
    position:absolute;
    left: 0px;
}
.v-select .vs__actions{
    margin-top:-5px;
}
.v-select .dropdown-menu{
    width: auto;
    overflow-y:auto;
}

.vs__dropdown-toggle{
    white-space: nowrap !important;
}



.box{
    border: 1px solid red;
}

@media (min-width: 576px) {  }
@media (min-width: 768px) { 
    .card_right_40px_padding{
        padding-right: 40px;
    }
    .card_right_30px_padding{
        padding-right: 30px;
        padding-left: 30px;
    }
 }

@media (min-width: 992px) { 
    .card_right_40px_padding{
        padding-right: 40px;
    }
    .card_right_30px_padding{
        padding-right: 30px;
        padding-left: 30px;
    }
 }

@media (min-width: 1200px) { 
    .card_right_40px_padding{
        padding-right: 40px;
        padding-left: 30px;
    }
    .card_right_30px_padding{
        padding-right: 30px;
        padding-left: 30px;
    }
 }