<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Customer List</h4>
                    <customer-dialog ref="customerDialog" @close="dialogClose"></customer-dialog>
                    <button @click="showCustomerDialog" class="btn btn-sm btn-primary float-right mb-2"><i class="ti-plus"></i> Add Customer </button>
                    
                    <table class="table table-bordered table-sm">
                        <thead class="text-center">
                            <tr>
                                <th>SL</th>
                                <th>Code </th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(customer, ind) in customers" :key="ind">
                                <td>{{ ind+1 }}</td>
                                <td>{{ customer.code }}</td>
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.address }}</td>
                                <td>
                                    <span v-if="customer.is_general != true">
                                        <button @click="editCustomer(customer)" class="btn btn-sm btn-warning"><i class="ti-pencil"></i></button>
                                        <button @click="deleteCustomer(customer)" class="btn btn-sm btn-danger"><i class="ti-trash"></i></button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CustomerDialog from '../components/dialog/CustomerDialog';
    export default {
        components: {"customer-dialog": CustomerDialog},
        data() {
            return {
              customers: null,
            }
        },
        created() {
           this.getCustomers();
        },
        methods: {
            showCustomerDialog() {
                this.$refs.customerDialog.open();
            },

            dialogClose() {
                this.getCustomers();
                $("#customerDialog").modal('hide');
            },

            editCustomer(customer) {
                 Object.keys(this.$refs.customerDialog.customer).forEach(key => {
                    this.$refs.customerDialog.customer[key] = customer[key];
                });
                this.$refs.customerDialog.open();
            },

            deleteCustomer(custome) {
                let conf = confirm('Are You Sure ? '); 
                if(conf){
                    axios.post("/delete_customer", custome).then(res =>{
                        let r = res.data;
                        alert(r.message);
                        this.getCustomers();
                    }).catch(error => alert(error));
                }
            },
            
            getCustomers() {
                axios.get("/get_customers").then(res => {
                    this.customers = res.data.customers;
                });
            },
        }
    }
</script>
