<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Product List</h4>
                    <product-modal ref="ProductModal" @close="modalClose"></product-modal>
                    <button @click="showProductModal" class="btn btn-sm btn-primary float-right mb-2"><i class="ti-plus"></i> Add Product </button>
                    
                    <table class="table table-bordered table-sm">
                        <thead class="text-center">
                            <tr>
                                <th>SL</th>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Unit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(product, ind) in products" :key="ind">
                                <td>{{ ind+1 }}</td>
                                <td>{{ product.code }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.unit.name }}</td>
                                <td>
                                    <button @click="editProduct(product)" class="btn btn-sm btn-warning"><i class="ti-pencil"></i></button>
                                    <button @click="deleteProduct(product)" class="btn btn-sm btn-danger"><i class="ti-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductModal from '../components/dialog/ProductModal';
    export default {
        components: {"product-modal": ProductModal},
        data() {
            return {
               products: []
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            showProductModal() {
                this.$refs.ProductModal.open();
            },
            getProducts() {
                axios.post("/get_products").then(res => {
                    this.products = res.data.products;
                })
            },
            
            editProduct(product) {
                Object.keys(this.$refs.ProductModal.product).forEach(key => {
                    this.$refs.ProductModal.product[key] = product[key];
                });
                this.$refs.ProductModal.selectedUnit = product.unit;
                this.$refs.ProductModal.open();

            },

            deleteProduct(product) {
                let conf = confirm('Are You Sure ? '); 
                if(conf){
                    axios.post("/delete_product", product).then(res =>{
                        let r = res.data;
                        alert(r.message);
                        this.getProducts();
                    }).catch(error => alert(error));
                }
            },

            modalClose(){
                this.getProducts();
                $("#productModal").modal('hide');
            }
        }
    }
</script>
