<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="search_area mb-5">
                        <form @submit.prevent="getPurchaseReports" method="post">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>From</label>
                                    <date-picker v-model="from_date" value-type="date"></date-picker>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>TO</label>
                                    <date-picker v-model="to_date" value-type="date"></date-picker>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Supplier</label>
                                    <v-select label="display_name" :options="suppliers" v-model="selectedSupplier" placeholder="Select Supplier"></v-select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Invoice</label>
                                    <v-select label="invoice" :options="invoices" v-model="selectedInvoice" placeholder="Select Invoice"></v-select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Purchase Type</label>
                                    <select class="form-control" v-model="purchase_type">
                                        <option value="without_details">Without Details</option>
                                        <option value="with_details">With Details</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-4">
                                   <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 5px;"><i class="ti-search"></i></button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    <table class="table table-bordered table-sm" v-if="purchase_type=='without_details'">
                        <thead class="text-center">
                            <tr>
                                <th>SL</th>
                                <th>Date</th>
                                <th>Invoice</th>
                                <th>Supplier</th>
                                <th>Phone</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Due</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(report, ind) in reports" :key="ind">
                                <td>{{ ind+1 }}</td>
                                <td>{{ report.entry_date }}</td>
                                <td>{{ report.invoice }}</td>
                                <td>{{ report.supplier.name }}</td>
                                <td>{{ report.supplier.phone }}</td>
                                <td>{{ report.total }}</td>
                                <td>{{ report.paid }}</td>
                                <td>{{ report.total - report.paid }}</td>
                                <td>
                                    <a :href="`/purchase/${report.id}`" class="btn btn-sm btn-warning report_custom_button" target="_blank"><i class="ti-pencil"></i></a>
                                    <a :href="`/purchase_invoice/${report.id}`" class="btn btn-sm btn-primary report_custom_button" target="_blank"><i class="ti-printer"></i></a>
                                    <a @click.prevent="deletePurchase(report.id)" class="btn btn-sm btn-danger report_custom_button" target="_blank"><i class="ti-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm" v-if="purchase_type=='with_details'">
                        <thead class="text-center">
                            <tr>
                                <th>SL</th>
                                <th>Date</th>
                                <th>Invoice</th>
                                <th>Supplier</th>
                                <th>Phone</th>
                                <th>Product</th>
                                <th>Batch</th>
                                <th>Rate</th>
                                <th>Qty</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <template v-for="(report ,ind) in reports">
                            <tr :key="report.id">
                                <td>{{ind+1}}</td>
                                <td>{{ report.entry_date }}</td>
                                <td>{{ report.invoice }}</td>
                                <td>{{ report.supplier.name }}</td>
                                <td>{{ report.supplier.phone }}</td>
                                <td>{{ report.purchase_details[0].product_detail.product.name}}</td>
                                <td>{{ report.purchase_details[0].product_detail.batch.name}}</td>
                                <td>{{ report.purchase_details[0].product_detail.purchase_rate}}</td>
                                <td>{{ report.purchase_details[0].qty}}</td>
                                <td>{{ report.purchase_details[0].product_detail.purchase_rate * report.purchase_details[0].qty}}</td>
                                <td>
                                    <a :href="`/purchase/${report.id}`" class="btn btn-sm btn-warning report_custom_button" target="_blank"><i class="ti-pencil"></i></a>
                                    <a :href="`/purchase_invoice/${report.id}`" class="btn btn-sm btn-primary report_custom_button" target="_blank"><i class="ti-printer"></i></a>
                                    <a @click.prevent="deletePurchase(report.id)" class="btn btn-sm btn-danger report_custom_button" target="_blank"><i class="ti-trash"></i></a>
                                </td>
                            </tr>
                            <tr v-for="(purchase_detail, detailInd) in report.purchase_details.slice(1)" :key="purchase_detail.id">
                                <td colspan="5"></td>
                                <td>{{purchase_detail.product_detail.product.name}}</td>
                                <td>{{purchase_detail.product_detail.batch.name}}</td>
                                <td>{{purchase_detail.product_detail.purchase_rate}}</td>
                                <td>{{purchase_detail.qty}}</td>
                                <td>{{purchase_detail.product_detail.purchase_rate * purchase_detail.qty}}</td>
                                <td></td>
                            </tr>
                            <tr style="color: black;background:#c397c721;font-weight: bold;">
                                <td colspan="8" class="text-right">Total</td>
                                <td>
                                    {{totalQty(report)}}
                                </td>
                                <td>
                                    {{totalAmount(report)}}
                                </td>
                                <td></td>
                            </tr>
                            </template>
                            <tr style="color: black;background:rgba(2, 1, 2, 0.14);font-weight: bold;font-size: 17px;">
                                <td colspan="8" class="text-right">Total Reports: </td>
                                <td>
                                    {{totalReportQty(reports)}}
                                </td>
                                <td>
                                    {{totalReportAmount(reports)}}
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from "moment";

export default {
    components: {
    "DatePicker":DatePicker, 
    "v-select": vSelect,
    },

    data() {
        return {
            from_date: new Date(),
            to_date: new Date(),
            suppliers: [],
            selectedSupplier: null,
            purchase_type: "with_details",
            invoices: [],
            selectedInvoice: null,
            reports: []
        }
    },
    created(){
        this.getSuppliers();
        this.getAllInvoices();
    },

    methods:{
        totalQty(report) {
            let details = report.purchase_details;
            let total = 0;
            details.forEach(report => {
                return total += report.qty;
            });
            return total;

        },
        totalAmount(report) {
            let details = report.purchase_details;
            let total = 0;
            details.forEach(report => {
                return total += (report.qty * report.product_detail.purchase_rate);
            });
            return total;

        },
        totalReportQty(reports) {
            let total=0;
            reports.forEach(report => {
                return report.purchase_details.forEach(pro =>{
                    return total+=pro.qty;
                })
            });
            return total;
        },

        totalReportAmount(reports) {
            let total=0;
            reports.forEach(report => {
                return report.purchase_details.forEach(pro =>{
                    return total+= (pro.product_detail.purchase_rate * pro.qty);
                });
            });
            return total;
        },
        // get suppliers 
        getSuppliers() {
            axios.get("/get_suppliers").then(res => {
                this.suppliers = res.data.suppliers;
            });
        },
        getAllInvoices() {
            axios.get("/get_all_purchase_invoice").then(res=> {
                this.invoices = res.data.invoices;
            })
        },
        getPurchaseReports() {
            let sendData = {
                from_date: moment(this.from_date).format("YYYY-MM-DD"),
                to_date:  moment(this.to_date).format("YYYY-MM-DD"),
                supplier_id: this.selectedSupplier == null ? null : this.selectedSupplier.id,
                purchase_type: this.purchase_type,
                invoice: this.selectedInvoice
            }
            let url = "/get_purchase_report_without_details";
            if(this.purchase_type == "with_details")
                url = "/get_purchase_report_with_details";
                
            axios.post(url, sendData).then(res => {
                let r = res.data;
                this.reports = r.purchases;
            }).catch(error => this.$noty.error(error.message));
        }
    }
}
</script>
