<template>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="row mt-3">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 card_right_30px_padding">

                  <div class="form-group row">
                    <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Invoice</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                      <input type="text" class="form-control" v-model="purchase_details.invoice" disabled="disabled">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Supplier</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                      <v-select label="display_name" :options="suppliers" v-model="selectedSupplier" placeholder="Select Supplier"></v-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Phone</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                      <input type="text" class="form-control" v-model="selectedSupplier.phone" disabled="disabled">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Address</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                      <textarea class="form-control" v-model="selectedSupplier.address" style="height: 60px !important;" disabled></textarea>
                    </div>
                  </div>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 card_right_40px_padding">

                  <div class="form-group row">
                    <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Product</label>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                      <v-select label="name" :options="products" v-model="selectedProduct" placeholder="Select Product" @input="productCheck"></v-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Batch</label>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                      <v-select label="name" :options="batches" v-model="selectedBatch" placeholder="Select Batch" @input="productCheck"></v-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Purchase Rate</label>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                      <input type="text" class="form-control" v-model="product.purchase_rate" :disabled="disablePriceField" placeholder="Purchase Rate">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Sale Rate</label>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                      <input type="text" class="form-control" v-model="product.sale_rate" :disabled="disablePriceField" placeholder="Sale Rate">
                    </div>
                  </div>

                    <div class="row">
                      <label class="col-md-2 col-lg-4 col-xs-12 col-sm-12 col-form-label">Wholesale Rate</label>
                      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <input type="text" class="form-control" v-model="product.wholesale_rate" :disabled="disablePriceField" placeholder="Wholesale Rate">
                      </div>
                      </div>

                      <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                        <div class="form-group row">
                          <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Qty</label>
                          <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" v-model="product.qty" placeholder="Qty">
                          </div>
                      </div>
                      </div>
                    </div>

                  <div class="form-group row mt-2">
                     <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label"></label>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                      <button v-if="disableAddToCart" class="btn btn-sm btn-danger float-right" @click.prevent="updateToCart()" :disabled="disableButton">Update</button>
                      <button v-else class="btn btn-sm btn-success float-right" @click.prevent="addToCart()" :disabled="disableButton">Add To Cart</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="table-rep-plugin">
                <div class="table-responsive b-0" data-pattern="priority-columns">
                  <table id="tech-companies-1" class="table table-bordered table-sm">
                    <thead>
                      <tr class="text-center">
                        <th>SL</th>
                        <th>Product</th>
                        <th>Batch</th>
                        <th>Qty</th>
                        <th>Purchase Rate</th>
                        <th>Sale Rate</th>
                        <th>Wholesale Rate</th>
                        <th>Total</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center" v-for="(product,sl) in cart" :key="sl">
                        <td>{{sl+1}}</td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.batch_name}}</td>
                        <td>{{product.qty}}</td>
                        <td>{{product.purchase_rate}}</td>
                        <td>{{product.sale_rate}}</td>
                        <td>{{product.wholesale_rate}}</td>
                        <td>{{ product.purchase_rate * product.qty }}</td>
                        <td>
                          <button @click.prevent="updateCartData(product, sl)" class="btn btn-sm btn-primary custom_button"><i class="ti-pencil"></i></button>
                          <button @click.prevent="removeProduct(product, sl)" class="btn btn-sm btn-danger custom_button"><i class="ti-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="mt-5">
                <textarea class="form-control" style="height:80px !important" v-model="purchase_details.note" placeholder="Enter Purchase Invoice note"></textarea>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                  <label>Entry Date</label>
                  <date-picker v-model="purchase_details.entry_date" value-type="date"></date-picker>
                </div>
                <div class="form-group">
                  <label>Sub Total</label>
                  <input type="text" class="form-control" v-model="purchase_details.sub_total" disabled>
                </div>
                <div class="form-group">
                  <label>Vat ( % )</label>
                  <input type="text" class="form-control" v-model="purchase_details.vat_percent" @input="calculation()">
                </div>
                <div class="form-group">
                  <label>Discount ( % )</label>
                  <input type="text" class="form-control" v-model="purchase_details.discount_percent" @input="calculation()">
                </div>
                <div class="form-group">
                  <label>Transport Cost</label>
                  <input type="text" class="form-control" v-model="purchase_details.transport_cost" @input="calculation()">
                </div>
                <div class="form-group">
                  <label>Other Cost</label>
                  <input type="text" class="form-control" v-model="purchase_details.other_cost" @input="calculation()">
                </div>
                <div class="form-group">
                  <label>Total</label>
                  <input type="text" class="form-control" v-model="purchase_details.total" disabled>
                </div>

                <div class="row">
                  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label>Paid</label>
                      <input type="text" class="form-control" v-model="purchase_details.paid" @input="calculation">
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label>Due</label>
                      <input type="text" class="form-control" v-model="purchase_details.due" disabled>
                    </div>
                  </div>
                </div>


                <div class="form-group mt-2">
                  <button class="btn btn-sm btn-primary" @click.prevent="savePurchase()" :disabled="disableButton">Save Now</button>
                  <button class="btn btn-sm btn-danger">Reset</button>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from "moment";

import VueNoty from 'vuejs-noty';
import 'vuejs-noty/dist/vuejs-noty.css';
Vue.use(VueNoty);
export default {
  components: {
    "DatePicker":DatePicker, 
    "v-select": vSelect,
  },

  data() {
    return {
      disableButton: false,
      disableAddToCart: false,
      disablePriceField: false,
      products: [],
      selectedProduct: null,
      batches: [],
      selectedBatch: null,
      suppliers: [],
      selectedSupplier: {
        id: null,
        name: null,
        display_name: 'Select Supplier',
        phone: null,
        code: null,
        address: null
      },

      product:{
        id: 0,
        batch_id: null,
        product_id: null,
        qty:0,
        sale_rate: 0.00,
        purchase_rate: 0.00,
        wholesale_rate: 0.00,
        product_detail_id: 0,
      },

      purchase_details: {
        id: 0,
        invoice: null,
        note: null,
        entry_date: new Date(),
        supplier_id: null,
        sub_total: 0.00,
        discount_percent: 0,
        discount_amount: 0.00,
        vat_percent: 0,
        vat_amount: 0.00,
        transport_cost: 0.00,
        other_cost: 0.00,
        total: 0.00,
        payment_type: 1,
        transaction_number: null,
        paid: 0.00,
        due: 0.00,
        previous_due: 0,
      },

      cart:[],
      updatePurchaseId: 0,
    };
  },

  async created() {
    await this.getProducts();
    await this.getBatches();
    await this.getSuppliers();

    //when purchase update
    let id = window.location.pathname.split('/')[2];
    if(id != undefined && id.length>0){
      this.updatePurchaseId= id;
      await this.getPurchaseDetails();
    }else{
      await this.getPurchaseInvoice();
    }    
  },

  methods: {
    async removeProduct(product,ind) {
      if(product.id==0){
        this.cart.splice(ind, 1);
      }else{
        let detail = {
          product_detail_id: product.product_detail_id,
          purchase_id: product.purchase_id,
          purchase_detail_id: product.purchase_detail_id,
          minus_amount: parseInt(product.qty) * parseFloat(product.purchase_rate),
        }

        await axios.post("/delete_purchase_detail", detail).then(res=>{
          let r = res.data;
          this.$noty.success(r.message);
          this.cart.splice(ind, 1);
        }).catch(error => this.$noty.error(error.message))
      }

      await this.calculation();
    },

    async updateCartData(product, ind){
      this.disableAddToCart= true;
      this.selectedProduct = this.products.find(p=> p.id == product.product_id);
      this.selectedBatch = this.batches.find(b=> b.id == product.batch_id);

      if(product.product_detail_id > 0){

        let detail = {
          product_detail_id: product.product_detail_id
        }
        
        await axios.post("/count_purchase_detail_product", detail).then(res=>{
          let r = res.data;
          if(r > 1){
            this.disablePriceField = true;
          }
        }).catch(error => this.$noty.error(error.message));
      }

      this.product = {
        id: product.id,
        batch_id: product.batch_id,
        product_id: product.product_id,
        qty: product.qty,
        sale_rate: product.sale_rate,
        purchase_rate: product.purchase_rate,
        wholesale_rate: product.wholesale_rate,
        product_detail_id: product.product_detail_id,
        index_number: ind
      }

    },
    
    updateToCart() {

      // update product details
      let ind = this.product.index_number;
      let product = this.product;

      this.cart[ind].id = product.id;
      this.cart[ind].product_id = this.selectedProduct.id;
      this.cart[ind].product_name = this.selectedProduct.name;
      this.cart[ind].batch_name = this.selectedBatch.name;
      this.cart[ind].batch_id = this.selectedBatch.id;
      this.cart[ind].qty = parseInt(product.qty);
      this.cart[ind].purchase_rate = parseInt(product.purchase_rate);
      this.cart[ind].sale_rate = parseInt(product.sale_rate);
      this.cart[ind].wholesale_rate = parseInt(product.wholesale_rate);
      this.cart[ind].product_detail_id = parseInt(product.product_detail_id);
      
      this.calculation();
      this.resetFrom();
      this.disableAddToCart = false;
    },

    // check product already purchase or not
    async productCheck(){
      this.disablePriceField = false;
      this.product.sale_rate =0;
      this.product.purchase_rate =0;
      this.product.wholesale_rate =0;

      if(this.selectedBatch == null || this.selectedProduct == null)
        return;

      let product = {
        product_id: this.selectedProduct==null ? null : this.selectedProduct.id,
        batch_id: this.selectedBatch==null ? null : this.selectedBatch.id
      }

      await axios.post("/exists_in_product_details", product).then(res =>{
        let r = res.data;
        if(Object.keys(r).length > 0){
          this.product.sale_rate =r.sale_rate;
          this.product.purchase_rate =r.purchase_rate;
          this.product.wholesale_rate =r.wholesale_rate;
          this.product.product_detail_id =r.id;
          this.disablePriceField = true;
        }
      }).catch(error => this.$noty.error(error.message))
    },

    addToCart() {
      this.disableButton = true;
      if(this.selectedProduct == null){
        this.$noty.warning("Select Product");
        this.disableButton = false;
        return;
      }

      if(this.selectedBatch == null){
        this.$noty.warning("Select Batch");
        this.disableButton = false;
        return;
      }
    
      if(this.product.qty <= 0 || isNaN(this.product.qty)){
        this.$noty.warning("Enter product qty");
        this.disableButton = false;
        return;
      }

      this.product.batch_id = this.selectedBatch.id;
      this.product.product_id = this.selectedProduct.id;

      let product = {
        id: 0,
        product_id: this.selectedProduct.id,
        product_name: this.selectedProduct.name,
        batch_name: this.selectedBatch.name,
        batch_id: this.selectedBatch.id,
        qty: parseInt(this.product.qty),
        purchase_rate: parseFloat(this.product.purchase_rate),
        sale_rate: parseFloat(this.product.sale_rate),
        wholesale_rate: parseFloat(this.product.wholesale_rate),
        product_detail_id: this.product.product_detail_id,
      }

      // add to cart     
      let exists = this.cart.findIndex(p => p.product_id == product.product_id
                                && p.batch_id == product.batch_id);

      if(exists > -1){
        this.cart[exists].qty +=parseInt(product.qty);
      }else{
        this.cart.unshift(product);
      }

      this.calculation();
      this.resetFrom();
      this.disableButton = false;
    },

    // update purchase start 
    async getPurchaseDetails() {
      await axios.post("/get_purchase_by_id", {purchase_id: this.updatePurchaseId}).then(res=>{
        let r = res.data.purchase[0];
        this.purchase_details.id = r.id;
        this.purchase_details.invoice = r.invoice;
        this.purchase_details.note= r.note;
        this.purchase_details.entry_date= new Date(r.entry_date);
        this.purchase_details.supplier_id= r.supplier_id;
        this.purchase_details.sub_total= r.sub_total;
        this.purchase_details.discount_percent= r.discount_percent;
        this.purchase_details.discount_amount=((parseFloat(r.sub_total) * parseFloat(r.discount_percent))/100).toFixed(2);
        this.purchase_details.vat_percent= r.vat_percent;
        this.purchase_details.vat_amount= ((parseFloat(r.sub_total) * parseFloat(r.vat_percent))/100).toFixed(2);
        this.purchase_details.transport_cost= r.transport_cost;
        this.purchase_details.other_cost= r.other_cost;
        this.purchase_details.total= r.total;
        this.purchase_details.payment_type= r.payment_type;
        this.purchase_details.transaction_number= r.transaction_number;
        this.purchase_details.paid= r.paid;
        this.purchase_details.due= r.total-r.paid;
        this.purchase_details.previous_due= r.previous_due;

        // cart product show here

        r.purchase_details.forEach(product =>{
          let cartProduct = {
            id: product.id,
            purchase_id: product.purchase_id,
            purchase_detail_id: product.id,
            product_id: product.product_detail.product.id,
            product_detail_id: product.product_detail.id,
            product_name: product.product_detail.product.name,
            batch_name: product.product_detail.batch.name,
            batch_id:product.product_detail.batch.id,
            qty: parseInt(product.qty),
            purchase_rate: parseFloat(product.product_detail.purchase_rate),
            sale_rate: parseFloat(product.product_detail.sale_rate),
            wholesale_rate: parseFloat(product.product_detail.wholesale_rate),
          }
          this.cart.push(cartProduct);
        });

      // selected supplier
      this.selectedSupplier = this.suppliers.find(supplier => supplier.id == r.supplier_id);
      }).catch(error => this.$noty.error(error.message));
      
      this.calculation();
    },

    // update purchase end 

    // calculation 
    calculation(){
      this.purchase_details.sub_total = this.cart.reduce((prev, curr) => {
        return prev + parseFloat(curr.qty * curr.purchase_rate);
      }, 0).toFixed(2);

      // discount Amount
      this.purchase_details.discount_amount = ((parseFloat(this.purchase_details.sub_total) * parseFloat(this.purchase_details.discount_percent))/100).toFixed(2);

      // Vat Amount
      this.purchase_details.vat_amount = ((parseFloat(this.purchase_details.sub_total) * parseFloat(this.purchase_details.vat_percent))/100).toFixed(2);

      // total calculation here
      this.purchase_details.total = ((parseFloat(this.purchase_details.sub_total)
                                    +parseFloat(this.purchase_details.vat_amount)
                                    +parseFloat(this.purchase_details.transport_cost)
                                    +parseFloat(this.purchase_details.other_cost))
                                    -(this.purchase_details.discount_amount)).toFixed(2);

      // due amount
      this.purchase_details.due = (this.purchase_details.total-parseFloat(this.purchase_details.paid)).toFixed(2);
    },

    // get purchase invoice 
    async getPurchaseInvoice() {      
      await axios.get("/get_purchase_invoice").then(res => {
        this.purchase_details.invoice = res.data.invoice;
      });
    },

    // get suppliers 
    async getSuppliers() {
      await axios.get("/get_suppliers").then(res => {
        this.suppliers = res.data.suppliers;
      });
    },

    // get products 
    async getProducts() {
      await axios.post("/get_products").then(res => {
        this.products = res.data.products;
      });
    },

    // get batch list
    async getBatches(){
        await axios.get("/get_batches").then(res => {
            this.batches = res.data.batches;
        });
    },

    // save purchase
    async savePurchase() {
      this.disableButton= true;

      if(this.selectedSupplier.id == null){
        this.$noty.warning("Please select supplier");
        this.disableButton= false;
        return;
      }

      // date format
      this.purchase_details.entry_date = moment(this.purchase_details.entry_date).format('YYYY-MM-DD');
      this.purchase_details.supplier_id = this.selectedSupplier.id;
      
      let purchase = {
        purchase_details: this.purchase_details,
        cart: this.cart
      }
      let url = "/purchase_place";
      if(this.purchase_details.id != 0){
        url="/update_purchase";
      }

      await axios.post(url, purchase).then(res => {
        let r = res.data;
        this.$noty.success(r.message);
        if(this.purchase_details.id == 0){
          this.clearFullPage();
        }
        
      }).catch(error => {
        this.$noty.error(error.message);
      });

      this.disableButton=false
    },

    clearFullPage(){
      this.getPurchaseInvoice();

      Object.keys(this.selectedSupplier).forEach(key => {
          this.selectedSupplier[key] = null;
      });

      Object.keys(this.purchase_details).forEach(key => {
          if(typeof this.purchase_details[key] == 'number')
            this.purchase_details[key] = 0;
          else
            this.purchase_details[key] = null;
      });

      this.selectedSupplier.display_name = "Select Supplier";
      this.purchase_details.entry_date = new Date();

      this.cart = [];
      this.resetFrom();
    },

    // reset from
    resetFrom(){
      this.disablePriceField = false;
      this.selectedProduct=null;
      this.selectedBatch=null;

      this.product = {
        batch_id: null,
        product_id: null,
        qty:0,
        sale_rate: 0.00,
        purchase_rate: 0.00,
        wholesale_rate: 0.00,
        product_detail_id: 0,
      }

    },

  // end methods

  }
};
</script>
