<template>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="row mt-3">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 card_right_30px_padding">

                    <div class="form-group row">
                        <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Invoice</label>
                        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" v-model="sale.invoice" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Sale Type</label>
                        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 mt-1">
                          <input type="radio" id="Retail" v-model="saleType" value="Retail"> Retail
                          <input type="radio" id="Wholesale" v-model="saleType" value="Wholesale"> Wholesale
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Customer</label>
                        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                         <v-select label="display_name" :options="customers" v-model="selectedCustomer"></v-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Phone</label>
                        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" v-model="selectedCustomer.phone" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-form-label">Address</label>
                        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                        <textarea class="form-control" v-model="selectedCustomer.address" style="height: 60px !important;" disabled></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 card_right_40px_padding">

                    <div class="form-group row">
                        <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Product</label>
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <v-select label="name" :options="products" v-model="selectedProduct" @input="getBatches()"></v-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Batch</label>
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <v-select label="name" :options="batches" v-model="selectedBatch" @input="getProductDetail()"></v-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">{{ saleType=='Retail' ? 'Sale' : 'Wh.sale'}} Rate</label>
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <input type="text" v-if="saleType == 'Retail' " class="form-control" v-model="product.sale_rate" placeholder="Sale Rate" @input="changeVale()">
                            <input type="text" v-else class="form-control" v-model="product.wholesale_rate" placeholder="Wholesale Rate" @input="changeVale()">
                        </div>
                    </div>

                    <div class="row">
                      <label class="col-md-2 col-lg-4 col-xs-12 col-sm-12 col-form-label">Amount</label>
                      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <input type="text" class="form-control" v-model="product.total" placeholder="Amount" disabled>
                      </div>
                      </div>

                      <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                        <div class="form-group row">
                          <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">Qty</label>
                          <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" ref="qty" v-model="product.qty" @input="changeVale()" placeholder="Qty">
                          </div>
                      </div>
                      </div>
                    </div>

                  <div class="form-group row mt-2">
                     <label class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-form-label">
                     </label>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                      <button v-if="disableAddToCart" class="btn btn-sm btn-warning float-right" @click.prevent="updateToCart()" :disabled="disableActionButton">Update</button>
                      <button v-else class="btn btn-sm btn-success float-right" @click.prevent="addToCart()" :disabled="disableActionButton">Add To Cart</button>
                    </div>
                  </div>
                  <div class="form-group row" v-if="product.stock > 0">
                    <div class="col-md-12 text-center mt-2" style="border: 1px dashed #0ae00a;">
                      <h5 style="color: #0ae00a;">Current Stock: {{product.stock}}</h5>
                    </div>
                  </div>
                  <div class="form-group row" v-if="product.stock==0">
                    <div class="col-md-12 text-center mt-2" style="border: 1px dashed red;">
                      <h5 style="color: red;">Stock not available</h5>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="table-rep-plugin">
                <div class="table-responsive b-0" data-pattern="priority-columns">
                  <table id="tech-companies-1" class="table table-bordered table-sm">
                    <thead>
                      <tr class="text-center">
                        <th>SL</th>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>{{ saleType=='Retail' ? 'Sale' : 'Wholesale'}} Rate</th>
                        <th>Total</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center" v-for="(product,sl) in cart" :key="sl">
                        <td>{{sl+1}}</td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.qty}}</td>
                        <td v-if="saleType=='Retail'">{{product.sale_rate}}</td>
                        <td v-else>{{product.wholesale_rate}}</td>
                        <td>{{ product.total }}</td>
                        <td>
                          <button @click.prevent="updateCartData(product, sl)" class="btn btn-sm btn-primary custom_button"><i class="ti-pencil"></i></button>
                          <button @click.prevent="removeProduct(product, sl)" class="btn btn-sm btn-danger custom_button"><i class="ti-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="mt-5">
                <textarea class="form-control" style="height:80px !important" v-model="sale.note" placeholder="Enter Sale Invoice note"></textarea>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                  <label>Entry Date</label>
                  <date-picker v-model="sale.entry_date" value-type="date"></date-picker>
                </div>
                <div class="form-group">
                  <label>Sub Total</label>
                  <input type="text" class="form-control" v-model="sale.sub_total" disabled>
                </div>
                <div class="form-group">
                  <label>Vat ( % )</label>
                  <input type="text" class="form-control" v-model="sale.vat_percent" @input="calculation()">
                </div>
                <div class="form-group">
                  <label>Discount ( % )</label>
                  <input type="text" class="form-control" v-model="sale.discount_percent" @input="calculation()">
                </div>
                <div class="form-group">
                  <label>Other Cost</label>
                  <input type="text" class="form-control" v-model="sale.other_cost" @input="calculation()">
                </div>
                <div class="form-group">
                  <label>Total</label>
                  <input type="text" class="form-control" v-model="sale.total" disabled>
                </div>

                <div class="row">
                  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label>Paid</label>
                      <input type="text" class="form-control" v-model="sale.paid" @input="calculation">
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label>Due</label>
                      <input type="text" class="form-control" v-model="sale.due" disabled>
                    </div>
                  </div>
                </div>


                <div class="form-group mt-2">
                  <button class="btn btn-sm btn-primary" @click.prevent="saveSale()" :disabled="disableActionButton">Save Now</button>
                  <button class="btn btn-sm btn-danger">Reset</button>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from "moment";

export default {
    components: {
      "DatePicker":DatePicker, 
      "v-select": vSelect,
    },

    data() {
      return {
        disableActionButton: false,
        disableAddToCart: false,
        saleType: "Retail",
        customers: [],
        selectedCustomer: {
            id: 0,
            name: "",
            display_name: 'Select Customer',
            phone: '',
            address: ''
        },
        cart: [],
        batches: [],
        selectedBatch: {
            id: null,
            name: "Select Batch",
        },
        products: [],
        selectedProduct: {
            id: null,
            name: "Select Product",
        },

        product: {
            id: 0,
            product_id: 0,
            batch_id: 0,
            qty: 0,
            tax_percent: 0,
            discount_percent: 0,
            sale_rate: 0.00,
            product_detail_id: 0,
            total: 0,
            stock: 0
        },

        sale: {
            id: 0,
            customer_id: 0,
            entry_date: new Date(),
            invoice: null,
            sub_total: 0.00,
            discount_percent: 0,
            tax_percent: 0,
            vat_percent: 0,
            other_cost: 0,
            total: 0,
            paid: 0,
            note: '',
            payment_type: 1,
            transaction_number: null,
        },
        updateSaleId: 0,
      }
    },
    created(){
      //when sale update
      let id = window.location.pathname.split('/')[2];
      if(id != undefined && id.length>0){
        this.updateSaleId= id;
        this.getSaleDetails();
      }else{
        this.getInvoice();
      }    

      this.getProducts();
      this.getCustomers();
    },

    methods:{
      percentToAmount(total,percent){
        let amount = ((parseFloat(total) * parseFloat(percent))/100).toFixed(2);
        return isNaN(amount)==true ? 0 : amount;
      },

      isNaNCheck(amount){
        return isNaN(amount)==true ? 0 : amount;
      },

      changeVale(){
        if(this.saleType == "Retail"){
          this.product.total = parseFloat(this.product.sale_rate) * parseInt(this.product.qty);
        }
        else{
          this.product.total = parseFloat(this.product.wholesale_rate) * parseInt(this.product.qty);
        }

      },

      // send product id and get batch 
      async getBatches() {
          this.fromReset();
          this.disableActionButton = true;
          if(this.selectedProduct.id == null || this.selectedProduct.id ==0){
            this.$noty.warning("Please select product");
            this.disableActionButton= false;
            return;
          }

          await axios.post("/get_batch_by_product", {product_id: this.selectedProduct.id}).then(res => {
            let r = res.data;
            this.batches = r.batches;

          }).catch(error => this.$noty.error(error.message));
      },

      // get product details
      async getProductDetail() {
        this.disableActionButton = true;
        if(this.selectedProduct.id == null || this.selectedProduct.id ==0){
          return;
        }
        if(this.selectedBatch.id == null || this.selectedBatch.id ==0){
          return;
        }
        let product = {
          product_id: this.selectedProduct==null ? null : this.selectedProduct.id,
          batch_id: this.selectedBatch==null ? null : this.selectedBatch.id
        }
        
        await axios.post("/exists_in_product_details", product).then(res =>{
          let r = res.data;
          if(Object.keys(r).length > 0){
            this.product.sale_rate =r.sale_rate;
            this.product.purchase_rate =r.purchase_rate;
            this.product.wholesale_rate =r.wholesale_rate;
            this.product.product_detail_id =r.id;
          }else{
            this.$noty.warning("Batch not found....");
          }

        }).catch(error => this.$noty.error(error.message));

        await axios.post("/get_stock", {productDetailId: this.product.product_detail_id}).then(res =>{
          let r = res.data[0];
          this.product.stock = r.stock;
        })

        this.$refs.qty.focus();
        this.disableActionButton = false;
      },

      // remove product
      async removeProduct(product, ind) {
          if(product.id==0){
              this.cart.splice(ind, 1);
          }else{
              let detail = {
                  product_detail_id: product.product_detail_id,
                  sale_id: product.sale_id,
                  sale_detail_id: product.sale_detail_id,
                  minus_amount: parseInt(product.qty) * parseFloat(product.sale_rate),
              }

              await axios.post("/delete_sale_detail", detail).then(res=>{
                  let r = res.data;
                  this.$noty.success(r.message);
                  this.cart.splice(ind, 1);
              }).catch(error => this.$noty.error(error.message))
          }

          await this.calculation();
      },

      async updateCartData(product, ind){
        this.disableActionButton= true;
          this.disableAddToCart = true;
          this.selectedProduct = this.products.find(p=> p.id == product.product_id);
          await this.getBatches();
          new Promise(resolve => setTimeout(resolve, 1000));
          this.selectedBatch = this.batches.find(b=> b.id == product.batch_id);

          this.product = {
            id: product.id,
            product_id: product.product_id,
            batch_id: product.batch_id,
            qty: parseInt(product.qty),
            tax_percent: parseFloat(product.tax_percent),
            discount_percent: parseFloat(product.discount_percent),
            sale_rate: parseFloat(product.sale_rate),
            wholesale_rate: parseFloat(product.wholesale_rate),
            product_detail_id: product.product_detail_id,
            product_name: product.name,
            total: this.saleType=='Retail' ? (parseFloat(product.sale_rate)*parseInt(product.qty)) : (parseFloat(product.wholesale_rate)*parseInt(product.qty)),
            index_number: ind
          }
          this.disableActionButton= false;
      },

      updateToCart() {

        // update product details
        let ind = this.product.index_number;
        let product = this.product;

        this.cart[ind].id = product.id;
        this.cart[ind].product_id = this.selectedProduct.id;
        this.cart[ind].product_name = this.selectedProduct.name;
        this.cart[ind].batch_id = this.selectedBatch.id;
        this.cart[ind].qty = parseInt(product.qty);
        this.cart[ind].tax_percent = parseFloat(product.tax_percent),
        this.cart[ind].discount_percent= parseFloat(product.discount_percent),
        this.cart[ind].sale_rate = parseInt(product.sale_rate);
        this.cart[ind].wholesale_rate = parseInt(product.wholesale_rate);
        this.cart[ind].product_detail_id = parseInt(product.product_detail_id);

        if(this.saleType == "Retail"){
          this.cart[ind].total = parseFloat(this.product.sale_rate) * parseInt(this.product.qty);
        }
        else{
          this.cart[ind].total = parseFloat(this.product.wholesale_rate) * parseInt(this.product.qty);
        }

        this.calculation();
        this.fromReset();
        this.disableAddToCart = false;
      },

      // save sale here
      async saveSale() {
          this.disableActionButton = true;
          if(this.selectedCustomer.id == null){
              this.$noty.warning("Please select customer");
              this.disableActionButton= false;
              return;
          }
          this.sale.entry_date = moment(this.sale.entry_date).format('YYYY-MM-DD');
          this.sale.customer_id = this.selectedCustomer.id;

          let sale = {
            saleType: this.saleType,
            sale: this.sale,
            cart: this.cart
          }
          let url = "/save_sale";
          if(this.sale.id >0)
            url ="/update_sale";

          await axios.post(url, sale).then(res => {
              let r = res.data;
              this.$noty.success(r.message);
              if(this.sale.id==0)
                  this.clearFullPage();

          }).catch(error => this.$noty.error(error.message));

          this.disableActionButton = false;
      },

      // get sales details
      getSaleDetails() {
        axios.post("/get_sale_by_id", {id: this.updateSaleId}).then(res => {
          let r = res.data.sale[0];
          this.saleType = r.sale_type;
          this.sale.id=r.id;
          this.sale.customer_id=r.customer_id; 
          this.sale.entry_date= new Date(r.entry_date);
          this.sale.invoice= r.invoice;
          this.sale.sub_total= r.sub_total;
          this.sale.discount_percent= r.discount_percent;
          this.sale.discount_amount= this.percentToAmount(r.sub_total, r.discount_percent),
          this.sale.tax_percent= r.tax_percent;
          this.sale.tax_amount= this.percentToAmount(r.sub_total, r.tax_amount),
          this.sale.vat_percent= r.vat_percent;
          this.sale.vat_amount= this.percentToAmount(r.sub_total, r.vat_percent),
          this.sale.other_cost= r.other_cost; 
          this.sale.total= r.total;
          this.sale.paid= r.paid;
          this.sale.note= r.note;
          this.sale.payment_type= r.payment_type;
          this.sale.transaction_number= r.transaction_number;

          // cart data
          r.sale_details.forEach(cart => {
            let product = {
              id: cart.id,
              product_id: cart.product_detail.product_id,
              sale_detail_id: cart.product_detail.id,
              sale_id: r.id,
              batch_id: cart.product_detail.batch_id,
              qty: parseInt(cart.qty),
              tax_percent: parseFloat(cart.tax_percent),
              discount_percent: parseFloat(cart.discount_percent),
              sale_rate: r.sale_type== 'Retail' ? parseFloat(cart.amount) : parseFloat(cart.product_detail.sale_rate),
              wholesale_rate: r.sale_type== 'Wholesale' ? parseFloat(cart.amount) : parseFloat(cart.product_detail.wholesale_rate),
              product_detail_id: cart.product_detail_id,
              product_name: cart.product_detail.product.name,
              total: (parseFloat(cart.amount) * parseInt(cart.qty))
            }

            this.cart.push(product);
          });

        this.calculation();
        }).catch(error => this.$noty.error(error.message));
      },
      
      async addToCart() {
          this.disableActionButton = true;
          if(this.selectedProduct == null){
            this.$noty.warning("Select Product");
            this.disableActionButton = false;
            return;
          }

          if(this.selectedBatch == null){
            this.$noty.warning("Select Batch");
            this.disableActionButton = false;
            return;
          }
          
          if(this.product.qty <= 0 || isNaN(this.product.qty)){
            this.$noty.warning("Enter product qty");
            this.disableActionButton = false;
            return;
          }

          if(parseInt(this.product.qty) > parseInt(this.product.stock)){
            this.$noty.warning("Stock is too low...");
            this.disableActionButton = false;
            return;
          }

          let product = {
            product_id: this.selectedProduct==null ? null : this.selectedProduct.id,
            batch_id: this.selectedBatch==null ? null : this.selectedBatch.id
          }

          await axios.post("/exists_in_product_details", product).then(res =>{
              let r = res.data;
              if(Object.keys(r).length > 0){
                this.product.product_detail_id =r.id;
                this.product.product_id = this.selectedProduct.id;
              }
          }).catch(error => this.$noty.error(error.message))
          let cartData ={
              id: 0,
              product_id: this.selectedProduct.id,
              batch_id: this.selectedBatch.id,
              qty: parseInt(this.product.qty),
              tax_percent: parseFloat(this.product.tax_percent),
              discount_percent: parseFloat(this.product.discount_percent),
              sale_rate: parseFloat(this.product.sale_rate),
              wholesale_rate: parseFloat(this.product.wholesale_rate),
              product_detail_id: this.product.product_detail_id,
              product_name: this.selectedProduct.name,
              total: this.saleType=='Retail' ? (parseFloat(this.product.sale_rate) * parseInt(this.product.qty)) : (parseFloat(this.product.wholesale_rate) * parseInt(this.product.qty))
          }

          // add to cart   
          let productExists = this.cart.findIndex(p => p.product_detail_id == this.product.product_detail_id);

          if(parseInt(productExists) > -1){
            this.cart[productExists].qty +=parseInt(cartData.qty);
          }else{
              this.cart.unshift(cartData);
          }

          this.calculation();
          this.fromReset();
          this.disableActionButton = false;
          
      },
        // calculation 
      calculation(){
          this.sale.sub_total = this.cart.reduce((prev, curr) => {
              return prev + parseFloat(curr.qty * (this.saleType=='Retail' ? curr.sale_rate : curr.wholesale_rate));
          }, 0).toFixed(2);

          // discount Amount
          this.sale.discount_amount = this.percentToAmount(this.sale.sub_total, this.sale.discount_percent);

          // Vat Amount
          this.sale.vat_amount =  this.percentToAmount(this.sale.sub_total, this.sale.vat_percent);

          // tax Amount
          this.sale.tax_amount = this.percentToAmount(this.sale.sub_total, this.sale.tax_percent);

          // total calculation here
          this.sale.total = ((parseFloat(this.sale.sub_total)
                              +parseFloat(this.sale.vat_amount)
                              +parseFloat(this.sale.tax_amount)
                              +this.isNaNCheck(parseFloat(this.sale.other_cost)))
                              -(this.sale.discount_amount)).toFixed(2);

          // due amount
          this.sale.due = (this.sale.total-parseFloat(this.sale.paid)).toFixed(2);
      },

      // get invoice
      getInvoice() {
        axios.get("/get_sale_invoice").then(res=> {
          let r = res.data;
          this.sale.invoice = r.invoice;
        }).catch(error => this.$noty.error(error.message));
      },

      // get customers 
      getCustomers() {
          axios.get("/get_customers").then(res => {
              this.customers = res.data.customers;
          });
      },

      // get products 
      getProducts() {
          axios.post("/get_products").then(res => {
              this.products = res.data.products;
          });
      },

      fromReset() {
        this.selectedBatch= {
            id: null,
            name: "Select Batch",
        }

        this.product= {
            id: 0,
            qty: 0,
            tax_percent: 0,
            discount_percent: 0,
            sale_rate: 0.00,
            product_detail_id: 0,
            total: 0,
            stock: 0
        }
      },
        
      clearFullPage() {

      }

    }
}
</script>
