<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Supplier List</h4>
                    <supplier-dialog ref="supplierDialog" @close="dialogClose"></supplier-dialog>
                    <button @click="showSupplierDialog" class="btn btn-sm btn-primary float-right mb-2"><i class="ti-plus"></i> Add Supplier </button>
                    <div class="table-rep-plugin">
                    <div class="table-responsive b-0" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table table-striped table-sm">
                        <thead class="text-center">
                            <tr>
                                <th>SL</th>
                                <th>Code </th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(supplier, ind) in suppliers" :key="ind">
                                <td>{{ ind+1 }}</td>
                                <td>{{ supplier.code }}</td>
                                <td>{{ supplier.name }}</td>
                                <td>{{ supplier.phone }}</td>
                                <td>{{ supplier.email }}</td>
                                <td>{{ supplier.address }}</td>
                                <td>
                                    <span v-if="supplier.is_general != true">
                                        <button @click="editSupplier(supplier)" class="btn btn-sm btn-primary custom_button"><i class="ti-pencil"></i></button>
                                        <button @click="deleteSupplier(supplier)" class="btn btn-sm btn-danger custom_button"><i class="ti-trash"></i></button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SupplierDialog from '../components/dialog/SupplierDialog';
    export default {
        components: {"supplier-dialog": SupplierDialog},
        data() {
            return {
              suppliers: null,
            }
        },
        created() {
           this.getSuppliers();
        },
        methods: {
            showSupplierDialog() {
                this.$refs.supplierDialog.open();
            },

            dialogClose() {
                this.getSuppliers();
                $("#supplierDialog").modal('hide');
            },

            editSupplier(supplier) {
                 Object.keys(this.$refs.supplierDialog.supplier).forEach(key => {
                    this.$refs.supplierDialog.supplier[key] = supplier[key];
                });
                this.$refs.supplierDialog.open();
            },

            deleteSupplier(customer) {
                let conf = confirm('Are You Sure ? '); 
                if(conf){
                    axios.post("/delete_supplier", customer).then(res =>{
                        let r = res.data;
                        alert(r.message);
                        this.getSuppliers();
                    }).catch(error => alert(error));
                }
            },
            
            getSuppliers() {
                axios.get("/get_suppliers").then(res => {
                    this.suppliers = res.data.suppliers;
                });
            },
        }
    }
</script>
