<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Unit List</h4>
                    <unit-dialog ref="unitDialog" @close="dialogClose"></unit-dialog>
                    <button @click="showUnitDialog" class="btn btn-sm btn-primary float-right mb-2"><i class="ti-plus"></i> Add Unit </button>
                    
                    <table class="table table-bordered table-sm">
                        <thead class="text-center">
                            <tr>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(unit, ind) in units" :key="ind">
                                <td>{{ ind+1 }}</td>
                                <td>{{ unit.name }}</td>
                                <td>
                                    <button @click="editUnit(unit)" class="btn btn-sm btn-warning"><i class="ti-pencil"></i></button>
                                    <button @click="deleteUnit(unit)" class="btn btn-sm btn-danger"><i class="ti-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UnitDialog from '../components/dialog/UnitDialog';
    export default {
        components: {"unit-dialog": UnitDialog},
        data() {
            return {
              units: null,
            }
        },
        created() {
           this.getUnits();
        },
        methods: {
            showUnitDialog() {
                this.$refs.unitDialog.open();
            },

            dialogClose() {

            },
            
            getUnits() {
                axios.get("/get_units").then(res => {
                    this.units = res.data.units;
                });
            },
        }
    }
</script>
